<!DOCTYPE html>
<html>
<head>
    <title>Table example</title>
</head>
<body>

    <table>
    	{{#each users}}
    	<tr>
    		<td>{{name}}</td>
    	</tr>
    	{{/each}}
    </table>

</body>
</html>